*{

    font-family: 'Poppins', sans-serif;
    overflow: hidden;
     
}

body{
    background-color: #4C68CB;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.header{
    background-color: #849EFD;
    height: 9vh;
   display: flex;
   align-items: center;
}
label{
    display:none;
}
#toggle{
    display: none;
}
.logo{
   width: 50px;
   border-radius: 15px;
   display: flex;
   align-content: center;
   margin-left: 10px;

}
.title{
    display: flex;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.lista{
    list-style-type: none;
    display: flex;
    justify-content: flex-end; 
    gap: 150px;
    font-weight: 500;  
    position:fixed; 
    left: 35%;
    margin-top: 20px;
    overflow: hidden;
   
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
     /* overflow: hidden; */
}


.putra{
    width: 44%;
    position: absolute; 
    left: 27%;
    top: 12%; 
    z-index: -1;
    opacity: 30%;
}

.log{
    color: white;
    width: 35%;
    height: 50%;
    background-color:#849EFD;
    position: absolute;
    top: 27%;
    left: 33%;
    border-radius: 5%;
   
}

h1{
    margin-left: 40%;
}

input{
    width: 90%;
    height: 10%;
    font-size: 20px;
    margin-left: 5%;
    background-color: white;
    border-radius: 10px;
}

button{
    width: 30%;
    height: 10%;
    margin-left: 35%;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    
}

.passi{
    color: white;
    position: absolute;
    top: 85%;
    font-size: 15px;
    margin-left: 37%;
    text-decoration: underline;
    cursor: pointer;
}

button:hover{
    color: blue;
    margin-top: -10px;
}


@media screen and (max-width:768px) {
    label{
        display: inline-block;
        margin-left: 280px;
        font-size: 25px;
        cursor: pointer;
    }
    .lista{
        display: none;
        text-align: center;
        height: 300px;
        margin-top: 355px;
        margin-left: 108px;
        background-color: #849EFD;
        width: 200px;
        padding-top: 40px;
    }
    .lista li{
        margin: 20px;
    }
    .pics:hover{
        transform: none;
    }
 .log{
    width: 400px;
    height: 400px;
    margin-left: -100px;
 }
 .passi{
    margin-left: 170px;
 }
}
